__pycache__
logs
tokens.py
todo.txt
*.db
/dev
.vscode
tokens_dev.py
cogs/dev_cog.py
cogs/testcog.py
*.disabled
discordBot.db*
.env
sqlite3.exe
test.py
local.py
json_dump.txt
changelog_old
build.py
database/old_db_update.py
