__pycache__
logs
tokens.py
copyright.txt
class_examples.py
db-howto.txt
test*
**/test*
todo.txt
hybrid*
discordBot.db
/dev

.vscode/launch.json
discordBot copy.db
discordBot v1.5.db
.vscode/settings.json
discordBot-old.db
tokens-Ice.py
discordBot-CB.db
tokens-CB.py
